*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #100322;
    color: #fff;
}
 /*----- header image -----*/
#header{
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 90px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text h1{
    margin-top: 10%;
    font-size: 50px;
    
}
.header-text h2{
    font-size: 40px;
    margin-top: 20px;
    
}
.header-text span{
    color: #ff004f;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #080808;
}



  /*----- Button Design-----*/
  .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    margin-top: 20px;
    font-size: 13px;
    background: transparent;
    position: pointer;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}                  